@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* navbar */
.navbar {
    width: 1140px;
    height: 100px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 {
    font-size: 28px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}

.download-cv {
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
}
.cv-anchor{
    text-decoration: none;
    color: white;
}
.banner {
    width: 1440px;
    height: 652px;
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.banner img {
    width: 240px;
    height: 240px;
    margin-top: 26px;
    margin-bottom: 32px;
}

.banner h2 {
    width: 960px;
    height: 136px;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    color: rgb(13, 19, 33);
    padding: 0 20px;
}

.banner p {
    width: 852px;
    height: 52px;
    text-align: center;
    margin: 24px auto;
    color: rgb(13, 19, 33);
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.banner button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(13, 19, 33);
    border: none;
    border-radius: 8px;
    margin-top: 8px;
    color: rgb(255, 255, 255);
}

/* Why choose development */

.specification {
    width: 1140px;
    height: 1400px;
    margin: 70px auto;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
}

.specification-container {
    width: 946px;
    height: 1235px;
    margin: 80px auto;

}

.specification-partOne {
    width: 850px;
    height: 115px;
    padding-top: 80px;
    padding-bottom: 48px;
    margin: 0 auto;
}

.specification-partOne h2 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.specification-partOne p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.specification-partTwo {
    width: 100%;
    height: 1060px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aim-button{
    text-decoration: none;
    color: black;
}
.specification-content {
    width: 945px;
    height: 310px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.aim-description {
    width: 500px;
    height: 210px;
    padding: 48px;
}

.aim-description h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.aim-description p {
    font-size: 16;
    font-weight: 400;
    margin-bottom: 32px;
}

.aim-description button {
    padding: 12px 20px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 8px;
}

.aim-visual {
    width: 300px;
    height: 210px;
    padding: 48px;
}

.specification-content-two {
    width: 850px;
    height: 230px;
    background-color: white;
    padding: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.aim-visual-two {
    width: 240px;
    height: 240px;
}

/* My inspiration */
.inspiration {
    width: 1140px;
    height: 775px;
    border-radius: 8px;
    margin: 0 auto;
}

.inspiration-heading {
    width: 850px;
    height: 115px;
    margin: 0 auto;
}

.inspiration-heading h2 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.inspiration-heading p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.inspiration-thamnil {
    width: 1076px;
    height: 548px;
    margin-top: 48px;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.youtube-video {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

/* Learing target */
.learning-status {
    width: 1140px;
    height: 460px;
    margin: 150px auto 110px;
}

.learing-description {
    width: 852px;
    height: 115px;
    margin: 0 auto;
}

.learing-description h2 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.learing-description p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.learing-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-box {
    width: 284px;
    height: 219px;
    padding: 40px;
    border-radius: 16px;
}

.container-box h2 {
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
    margin-bottom: 8px;
}

.container-box p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    color: rgb(13, 19, 33);
}

.container-box button {
    font-weight: 700;
    border: none;
    background: none;
    color: rgb(13, 19, 33);
    border-bottom: 2px solid black;
}

.htmlBox {
    background: rgba(255, 76, 30, 0.05);
}

.cssBox {
    background: rgba(0, 76, 232, 0.05);
}

.javaScriptBox {
    background: rgba(255, 223, 0, 0.05);
}

/* Learing Target */

.learing-target {
    width: 1140px;
    height: 866px;
    margin: 0 auto;
}

.learing-target-description {
    width: 850px;
    height: 115px;
    margin: 0 auto 48px;
}

.learing-target-description h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.learing-target-description p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.technoly-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px;
}

.reactJs,
.nodeJs,
.mongoDb {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    gap: 24px;
    padding: 40px;
}

.reactJs-details h2,
.nodeJs-details h2,
.mongoDb-details h2 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}

.reactJs-details p,
.nodeJs-details p,
.mongoDb-details p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.reactJs-details button,
.nodeJs-details button,
.mongoDb-details button {
    font-size: 16px;
    font-weight: 700;
    border: none;
    background: none;
    border-bottom: 1px solid black;
}

.nodeJs img,
.reactJs img,
.mongoDb img {
    width: 95px;
    height: 85px;
}

/* Support section */
.support-section {
    width: 1140px;
    height: 315px;
    margin: 50px auto 80px;
    border-radius: 16px;
    background-image: linear-gradient(90deg, rgb(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.support-info {
    width: 1044px;
    padding-top: 64px;
    margin: 64px auto;
    border-radius: 8px;
}

.support-info h2 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: white;
    margin-bottom: 16px;
}

.support-info p {
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.support-button {
    padding-top: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.submit {
    padding: 14px 20px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

.search {
    padding: 17px 20px;
    width: 500px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}


.footer-section {
    width: 1440px;
    height: 68px;
    margin: 0 auto;
    border-radius: 16px;
    padding-top: 32px;
    background: rgba(13, 19, 33, 0.03);
    /* border: 2px solid green; */
}

.footer-container {
    margin: 0 150px ;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-container h2{
    font-size: 20px;
    font-weight: 600;
}