@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* navbar */
.navbar {
    width: 1140px;
    height: 100px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 {
    font-size: 28px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}

.download-cv {
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
}

.banner {
    width: 1440px;
    height: 652px;
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.banner img {
    width: 240px;
    height: 240px;
    margin-top: 26px;
    margin-bottom: 32px;
}

.banner h2 {
    width: 960px;
    height: 136px;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    color: rgb(13, 19, 33);
    padding: 0 20px;
}

.banner p {
    width: 852px;
    height: 52px;
    text-align: center;
    margin: 24px auto;
    color: rgb(13, 19, 33);
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.banner button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(13, 19, 33);
    border: none;
    border-radius: 8px;
    margin-top: 8px;
    color: rgb(255, 255, 255);
}

/* Why choose development */

.specification {
    width: 1140px;
    height: 1400px;
    margin: 70px auto;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
}

.specification-container {
    width: 946px;
    height: 1235px;
    margin: 80px auto;

}

.specification-partOne {
    width: 850px;
    height: 115px;
    padding-top: 80px;
    padding-bottom: 48px;
    margin: 0 auto;
}

.specification-partOne h2 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.specification-partOne p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.specification-partTwo {
    width: 100%;
    height: 1060px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.specification-content {
    width: 945px;
    height: 310px;
    background-color:white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.aim-description{
    width: 500px;
    height: 210px;
    padding: 48px;
}
.aim-description h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.aim-description p{
    font-size: 16;
    font-weight: 400;
    margin-bottom: 32px;
}
.aim-description button{
    padding: 12px 20px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 8px;
}
.aim-visual{
    width: 300px;
    height: 210px;
    padding: 48px;
}

.specification-content-two{
    width: 850px;
    height: 230px;
    background-color:white;
    padding: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.aim-visual-two{
    width: 240px;
    height: 240px;
}
